<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="acceso-app-app">
  <template>
    <style>
      :host {
        display: block;
        text-align: center;
      }
      paper-card {
        text-align: left;
        width:300px;
        padding: 1em;
      }
      paper-card.card-actions{
        padding-top: 4em;
        text-align: right;
      }
      paper-card.card-header{
        front-size: 2em;
        color: var(--paper-gray-700);
      }
      paper-card.card-header iron-icon{
        heigth: 2em;
        width: 2em;
        color: var(--paper-blue-100);
      }
      paper-button{
        color: var(--paper-red-500);
      }
      paper-button[raised]{
        background-color: var(--primary-color);
        color: white;
      }
    </style>
      <paper-card elevation="4" animated-shadow="false">
      <div class="card-header">
        <iron-icon icon="account-circle"></iron-icon>
        Acceso
      </div>

      <form is="iron-form" id="acceso" method="get">
        <div class="card-content">
          <paper-input label="Correo" required type="text" auto-validate pattern="[aA-zZ0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" value='{{text}}' error-message="  please type email correct"></paper-input>
          <paper-input label="Contraseña" required type="password" value={{password}}></paper-input>
        </div>

        <div class="card-actions">
          <paper-button raised on-click="submit">Ingresar</paper-button>
          <paper-button raised on-click="submit">Registrate</paper-button>
        </div>

        <template is="dom-if" if="[[loading]]">
          <paper-progress  indeterminate class="slow blue" value="10"></paper-progress>
        </template>

        <template is="dom-if" if="[[error]]" restamp="true">
          <d2l-alert type="error" has-close-button>
            usuario o contraseña incorrecta
          </d2l-alert>
        </template>
        <template>
          <login-app-app></login-app-app>
        </template>
      </form>
    </paper-card>

      <iron-ajax
        id="elajax"
        url="https://mlab.com/databases/bdpractitionerteam1/collections/usuarios?&apiKey=OyHVw7izv6mqlruHdcv-gJ0t6_I6vqHz"
        handle-as="json"
        last-response="{{data}}"
        loading="{{Cargando}}">
      </iron-ajax>

    <!--  <div on-tap="buscar">
        Buscar!
      </div> -->

    <!--  submit: function() {
        this.$.elajax.generateRequest();
      } -->

      <!--buscar: function() {
        this.$.elajax.generateRequest();
      } -->

      <ul>
        <template is="dom-repeat" items="[[users]]">
          <li>[[item.name]]</li>
        </template>
      </ul>
    </template>

    <script>
      Polymer({
        is: "ajax-generate-request",

        properties: {
          cargando: Boolean,
          users: Array
        },

        //*submit() {
        //*  this.$.elajax.generateRequest();
        //*}
      });
    </script>

    <script>
        	(function () {
        	'use strict';
          	class AccesoAppApp extends Polymer.Element{
          	static get is() { return 'acceso-app-app' };
          	static get properties() {
          	return {
          	prop: String,
          	postsUser: {
          	type: Array
          	}
        	 }
        	}

        	handleResponse() {
        	   console.log(this.data);
        	  }
          submit() {
          this.$.elajax.generateRequest();
            }
        	}
        	customElements.define(AccesoAppApp.is, AccesoAppApp);
        	}) (window.customElements);
      </script>
  </dom-module>
