<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">

<dom-module id="login-app-app">
  <template>
    <style>
      :host {
        display: block;
        text-align: center;
      }
      paper-card {
        text-align: left;
        width:400px;
        padding: 1em;
      }
      paper-card.card-actions{
        padding-top: 4em;
        text-align: right;
      }
      paper-card.card-header{
        front-size: 2em;
        color: var(--paper-gray-700);
      }
      paper-card.card-header iron-icon{
        heigth: 2em;
        width: 2em;
        color: var(--paper-blue-100);
      }
      paper-button{
        color: var(--paper-red-500);
      }
      paper-button[raised]{
        background-color: var(--primary-color);
        color: white;
      }
    </style>

    <paper-card elevation="4" animated-shadow="false">
      <div class="card-header">
        <iron-icon icon="account-circle"></iron-icon>
        Registrate
      </div>
      <form is="iron-form" id="form">
      <div class="card-content">
        <paper-input label="Nombre(s)" required type="text"></paper-input>
        <paper-input label="Apellido(s)" required type="text"></paper-input>
        <paper-input label="Correo" required type="email"></paper-input>
        <paper-input label="Contraseña" required type="password"></paper-input>
      </div>
      <div class="card-actions">
        <paper-button raised id="login">Enviar</paper-button>
        <paper-button>Cancelar</paper-button>
      </div>
      </form>
    </paper-card>
  </template>
  
  <script>
    (function() {
      'use strict';
      class LoginAppApp extends Polymer.Element {
        static get is() {return 'login-app-app' }
        static get properties() {
          return {

          }
        }
      }
        /**ready(){
        this.$.login.addEventListener("click",()=>{
          this.$.form.submit()
        })
      }*/
      customElements.define(LoginAppApp.is, LoginAppApp)
    })(window.customElements);
  </script>
</dom-module>
